html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.navbar{
    height: 10vh;
    width: 100vw;
    background-color:white;
    display: flex;
    justify-content: space-between;

}
.navbarDroite{
    display: flex;
}
.logoDecat{
    height: 70%;
    width: 200px;
    background-image: url("logoDecat.png");
    background-size: cover;
    background-position: center;
}
.monPanier{
    height: 100%;
    width:8vw;
    background-color: #FFE928;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

 }
 .iconeMonpanier{
     height: 50px;
     width: 50px;
     background-image: url("iconNavbar/iconMonpanier.png");
     background-position: center;
     background-size: cover;
 }
.monCompte {
    height: 100%;
    width: 8vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.iconeMoncompte{
    height: 40px;
    width: 40px;
    background-image: url("iconNavbar/iconCompte.png");
    background-position: center;
    background-size: cover;
}

.monMagasin {
    height: 100%;
    width: 8vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.iconeMonmagasin {
    height: 40px;
    width: 40px;
    background-image: url("iconNavbar/iconMonmagasin.png");
    background-position: center;
    background-size: cover;
}
.uneQuestion {
    height: 100%;
    width: 8vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.iconeUneQuestion {
    height: 40px;
    width: 40px;
    background-image: url("iconNavbar/iconUneQuestion.png");
    background-position: center;
    background-size: cover;
}

.navBarChoix{
    height: 7vh;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.choixSport{
    display: flex;
}
.textbleu{
    color: #007DCA;
}

.iconChoixBleu{
    background-image: url("iconChoix/iconChoixBleu.png");
}
.iconChoixBlanc{
    background-image: url("iconChoix/iconChoixBlanc.png");
}
.iconChoixBleu,.iconChoixBlanc{
    height: 20px;
    width: 20px;
    background-size: cover;
    background-position: center;
}

.divFinSection{
    width: 100vw;
    border: black 1px solid;
}

.container{
    width: 100vw;
    padding: 0 0 0 0;
}
.presentation1{

    height: 60vh;
    width: 100%;
    background-image: url("imagesPresentation/img1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: #FFE928 1px solid;
    border-radius: 2%;
}

.presentation2{
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.petitePresentation1,.petitePresentation2,.petitePresentation3,.petitePresentation4,.petitePresentation5,.petitePresentation6{
    height: 100%;
    width: 10vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.petitePresentation1{
    background-image: url("presentation2/img1.png");
}
.petitePresentation2{
    background-image: url("presentation2/img2.png");
}
.petitePresentation3{
    background-image: url("presentation2/img3.png");
}
.petitePresentation4{
    background-image: url("presentation2/img4.png");
}
.petitePresentation5{
    background-image: url("presentation2/img5.png");
}
.petitePresentation6{
    background-image: url("presentation2/img6.png");
}


.presentation3{

}